In [1]:
#import Pandas Module from Pandas Library
import pandas

In [2]:
#Using Pandas Function to extract a data from file
db = pandas.read_csv('simpledb.csv')

In [3]:
#DV/Target
y=db['marks']

In [4]:
db

     name  hrs  marks
0   Arpit    3     30
1   Vimal    5     50
2  Aniket    7     70
3  Shreya    4     40
4  Sanket    9     90

In [5]:
y

0    30
1    50
2    70
3    40
4    90
Name: marks, dtype: int64

In [6]:
#feature/IV
x=db['hrs']

In [7]:
x

0    3
1    5
2    7
3    4
4    9
Name: hrs, dtype: int64

In [8]:
#Feature Elimation which will not use or depend for predict a data
db['name']

0     Arpit
1     Vimal
2    Aniket
3    Shreya
4    Sanket
Name: name, dtype: object

In [9]:
#import sklearn module from scikit-learn library which provide all fuctionality of Regression
from sklearn.linear_model import LinearRegression

In [10]:
mind = LinearRegression( )

In [11]:
x=x.values

In [12]:
x=x.reshape(5,1)

In [13]:
mind.fit(x,y)

LinearRegression()

In [18]:
mind.predict([[8]])

array([80.])

In [15]:
import joblib

In [16]:
joblib.dump(mind,"tranined.pk1")

['tranined.pk1']

In [19]:
mind.coef_

array([10.])