In [1]:
import pandas

In [26]:
#load a file into program
db=pandas.read_csv('SalaryData.csv')

In [25]:
#Print a Store Database
db

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [7]:
#Storing a Dependend Variable
y=db['Salary']

In [14]:
import numpy
#import numpy to convert datatype of x & also reshape into 2D bcz in a fit fuction support x is only 2d formate 
#bcz of in real world for predict data , we need feature must me more than one so we just make arrangement n 
#convert into 2d bcz we need to predict data by one feature
x=db['YearsExperience'].values.reshape(30,1)

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
#for Machine Learning fuction we import Model sklearn
mind=LinearRegression()

In [17]:
#this fuction will detect a pattern in between x and y 
mind.fit(x,y)

LinearRegression()

In [18]:
#Now model is trained , we able to predict salary by predict fuction 
mind.predict([[4.4]])

array([67372.03441307])

In [22]:
#Value of w means weight 
mind.coef_

array([9449.96232146])

In [20]:
#value of y means constant
mind.intercept_

25792.20019866871

In [23]:
import joblib

In [24]:
#Storing a Experience or Pattern into file 
joblib.dump(mind,'trainedModelToPredictSalary.pk1')

['trainedModelToPredictSalary.pk1']